<div class="container" style="margin-bottom: 20px">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="alert alert-success" *ngIf="response=='success'">
        You've successfully posted a new bid!
        <a class="alert-link" style="cursor: pointer" (click)="onBackToBids()">Go to MyBids</a>
      </div>
      <div class="alert alert-danger" *ngIf="error">{{error}}</div>
    </div>
  </div>
  <div class="row" *ngIf="updating">
    <div class="col-xs-12">
      <h5>Updating bid, please wait...</h5>
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
  <div class="row" *ngIf="!updating">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h4 *ngIf="!editing; else elseBlock">Bid Sheet</h4>
      <ng-template #elseBlock><h4>Edit Bid Sheet</h4></ng-template>
      <form [formGroup]="bidForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="bid-round">Round</label>
          <select
            name="bid-round"
            id="bid-round"
            class="form-select"
            formControlName="bid-round">
            <option *ngFor="let round of rounds" value="{{round}}">{{round}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="bid-choice">Bid Choice</label>
          <input
            type="number"
            min="1"
            id="bid-choice"
            name="bid-choice"
            class="form-control"
            formControlName="bid-choice"
            pattern="^[1-9]+[0-9]*$">
        </div>
        <div class="form-group">
          <label for="start-vac">Start of Vacation</label>
          <input type="date"
                 id="start-vac"
                 name="start-vac"
                 class="form-control"
                 formControlName="start-vac">
        </div>
        <div class="form-group">
          <label for="end-vac">End of Vacation</label>
          <input type="date"
                 id="end-vac"
                 name="end-vac"
                 class="form-control"
                 formControlName="end-vac">
        </div>
        <div class="form-group">
          <label for="vac-type">Vacation Type</label>
          <select
            name="vac-type"
            id="vac-type"
            class="form-select"
            formControlName="vac-type">
            <option value="vac">Vacation</option>
            <option value="ppt">PPT</option>
          </select>
        </div>
        <div class="form-group">
          <label for="award-option">Award if...</label>
          <select
            name="award-option"
            id="award-option"
            class="form-select"
            formControlName="award-option">
            <option value="all">all of my days are available.</option>
            <option value="50p">50% or more of my days are available.</option>
            <option value="any">any of my days are available.</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <input
            type="checkbox"
            id="use-holiday"
            name="use-holiday"
            class="form-check-input"
            formControlName="use-holiday">
          <label for="use-holiday" style="margin-left: 10px; margin-bottom: 20px">Use holiday</label>
        </div>
        <button class="btn btn-primary" type="submit" *ngIf="!editing">Submit</button>
        <button
          class="btn btn-primary"
          type="button"
          *ngIf="!editing"
          (click)="onTest()">Test
        </button>
        <button
          class="btn btn-success"
          type="button"
          *ngIf="editing"
          (click)="onUpdate()"
        >Update
        </button>
        <button
          class="btn btn-danger"
          type="button"
          *ngIf="editing"
          (click)="onDelete()"
          style="margin-left: 15px"
        >Delete
        </button>
        <button
          class="btn btn-secondary"
          type="button"
          *ngIf="editing"
          (click)="onBackToBids()"
          style="margin-left: 15px"
        >Back without saving
        </button>
      </form>
    </div>
  </div>

</div>


<!--      <app-calendar></app-calendar>-->
<!--      <hr>-->
<!--      <app-bid-form></app-bid-form>-->
