body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#left {
  float: left;
  max-height: calc(100vh - 350px);
  width: 50%;
  overflow: auto;
}

label {
  margin-right: 10px;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #ccc;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
