<li>
  <span (click)="onClick()" style="cursor: pointer"><b>{{choice.key}}: </b>
    {{choice.value.startDate | date:'MMM dd yyyy'}} -
    {{choice.value.endDate | date:'MMM dd yyyy'}}
  </span>
  <ul>Type - {{vacType}} / Award - {{awardOpt}}{{useHol}}</ul>
  <ul>
    <fa-icon [icon]="faArrowCircleUp"
             style="cursor: pointer;
             margin-right: 10px;
             color: #0d6efd;"
             size="lg"
             *ngIf="choice.value.choice != 1"
             (click)="onMoveUp(choice.value)"
    >
    </fa-icon>
    <fa-icon [icon]="faArrowCircleDown"
             style="cursor: pointer;
             margin-right: 10px;
             color: #0d6efd;"
             size="lg"
             *ngIf="choice.value.choice != lastEl"
             (click)="onMoveDown(choice.value)"
    >
    </fa-icon>
  </ul>
</li>
