<div class="calendar-grid" [class.compact]="compact">
  <!-- Month label (compact mode only) -->
  <div *ngIf="compact" class="month-label clickable"
       (click)="monthLabelClicked.emit({ year: monthVm.year, month: monthVm.month })">
    {{ monthVm.label }}
  </div>

  <!-- Day headers -->
  <div class="header-row">
    <div *ngFor="let h of dayHeaders" class="header-cell">{{ compact ? h.charAt(0) : h }}</div>
  </div>

  <!-- Week rows -->
  <div *ngFor="let week of monthVm.weeks" class="week-row">
    <div *ngFor="let cell of week"
         class="day-cell"
         [class.empty]="!cell"
         [class.disabled]="cell?.isDisabled"
         [class.has-workday]="cell?.workdayShift && !cell?.isDisabled"
         [class.is-selected]="cell?.isSelected"
         [class.not-clickable]="cell && !cell.workdayShift && !cell.isDisabled"
         [attr.title]="compact && cell?.workdayShift ? cell.workdayShift : null"
         (click)="cell && onDayClick(cell)">
      <ng-container *ngIf="cell">
        <ng-container *ngIf="!compact">
          <div class="day-number">{{ cell.dayNumber }}</div>
          <div *ngIf="cell.workdayShift" class="workday-badge">{{ cell.workdayShift }}</div>
        </ng-container>
        <ng-container *ngIf="compact">
          <span class="compact-day">{{ cell.dayNumber }}</span>
          <span *ngIf="cell.isSelected" class="compact-dot"></span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
