<div class="row">
  <div class="col-xs-12">
    <h5>My Bids - Click on bid to edit or delete</h5>
    Round 1 must be saved/submitted by: {{bidTimes?.round1 | date :'MM/dd/yy HH:mm'}}
    <br>
    Round 2 must be saved/submitted by: {{bidTimes?.round2 | date :'MM/dd/yy HH:mm'}}
    <hr>
  </div>
</div>
<div class="row" *ngIf="loading">
  <div class="col-xs-12">
    <h5>Updating bid, please wait...</h5>
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col">
    <div *ngFor="let round of roundsWithBid">
      <div *ngIf="round < 7">
        <span>
          <h5>
            Round {{round}}
          </h5>
          <span
            style="
            margin-left: 15px;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 4px;
            padding: 2px;
            background: lightgrey;"
            *ngIf="round < 6"
            (click)="onCopy(bids[round], bids[round + 1])"
          >
          Copy to Round {{round + 1}}
          </span>
          <span
            style="
            margin-left: 15px;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 4px;
            padding: 2px;
            background: lightpink;"
            (click)="onClear(bids[round])"
          >
          Clear Round {{round}}
          </span>
        </span>
        <ul *ngFor="let bid of bids[round]">
          <app-bid-item
            [bid]="bid"
            [round]="bids[round]">
          </app-bid-item>
        </ul>
      </div>
    </div>
  </div>
  <div class="col" *ngIf="round7bids">
    <div>
      <h5>Round 7</h5>
      <span
        style="
            margin-left: 15px;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 4px;
            padding: 2px;
            background: lightpink;"
        (click)="onClear(bids[7])"
      >
          Clear Round 7
          </span>
      <ul *ngFor="let bid of bids[7]">
        <app-bid-item
          [bid]="bid"
          [round]="bids[7]">
        </app-bid-item>
      </ul>
    </div>
  </div>
</div>
