<div class="row">
  <div class="col-xs-12">
    <h5>My Bids - Click on bid to edit or delete</h5>
    <hr>
  </div>
</div>
<div class="row" *ngIf="loading">
  <div class="col-xs-12">
    <h5>Loading bids from server, please wait...</h5>
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-xs-12" *ngFor="let round of bids | keyvalue">
    <h5>{{round.key}}</h5>
    <ul>
      <app-bid-item
        *ngFor="let choice of round.value | keyvalue"
        [choice]="choice">
      </app-bid-item>
    </ul>

<!--    <app-bid-item-->
<!--    *ngFor="let round of rounds"-->
<!--    [bid]="bidEl"></app-bid-item>-->
  </div>
</div>
