<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h5>{{title}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Your Bid</h6>
    </div>
    <div class="col">
      <h6>Available Shifts</h6>
    </div>
  </div>
  <div class="row">
    <div class="btn-col" style="width: 50%">
      <button
        class="btn btn-primary"
        type="button"
        (click)="onSave()"
        style="margin-bottom: 5px"
        *ngIf="response==''"
      >
        Save Bid
      </button>
      <button
        class="btn btn-primary"
        type="button"
        (click)="onSave()"
        style="margin-bottom: 5px"
        *ngIf="response=='success'"
      >
        Your bid was saved
      </button>
      <button
        class="btn btn-danger"
        type="button"
        (click)="onRevert()"
        style="margin-bottom: 5px"
      >
        Revert bid to last save
      </button>
    </div>
    <div class="col" style="width: 50%">
      <table>
        <tr>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showAM">
              AM
            </label>
          </td>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showPM">
              PM
            </label>
          </td>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showMID">
              MID
            </label>
          </td>
          <td rowspan="4" style="border-right: None" (click)="test()">
            Desk
          </td>
          <td rowspan="4" style="border-left: None">
            <select style="margin-left: 5px" multiple [(ngModel)]="selectedDesks">
              <option value="All">All</option>
              <option *ngFor="let desk of openDesks" [value]="desk">{{desk}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showDOM">
              DOM
            </label>
          </td>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showINTL">
              INTL
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showNine">
              Nine Hr
            </label>
          </td>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showTen">
              Ten Hr
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px">
              <input type="checkbox" [(ngModel)]="showOnBid">
              On Bid
            </label>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="checkbox" [(ngModel)]="limitAwards">
      <label class="checkbox-inline" style="margin-left: 10px" *ngIf="!limitAwards">
        Limit My Awards
      </label>
      <span *ngIf="limitAwards" style="margin-left: 10px">
        Only award
        <select>
          <option *ngFor="let number of numbers" value="number">{{number}}</option>
        </select>
        shift per
        <select>
          <option value="m">month.</option>
          <option value="pp">pay period.</option>
        </select>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col" id="left">
      <table style="width:100%">
        <tr>
          <th style="width:10%">Choice</th>
          <th style="width:10%">Day</th>
          <th>Shift</th>
          <th style="width:10%">Up</th>
          <th style="width:10%">Dn</th>
          <th style="width:10%">Del</th>
        </tr>
        <tr *ngFor="let bid of bids; index as i" style="cursor: pointer">
          <td>{{i + 1}}</td>
          <td>{{bid.day}}</td>
          <td>{{bid.shift}}</td>
          <td>
            <fa-icon [icon]="faArrowCircleUp"
                     style="cursor: pointer;
                     color: #0d6efd;"
                     size="lg"
                     (click)="onMoveUp(bid)"
                     *ngIf="i != 0"
            >
            </fa-icon>
          </td>
          <td>
            <fa-icon [icon]="faArrowCircleDown"
                     style="cursor: pointer;
                     color: #0d6efd;"
                     size="lg"
                     (click)="onMoveDown(bid)"
                     *ngIf="i != numberOfBids - 1"
            >
            </fa-icon>
          </td>
          <td>
            <fa-icon [icon]="faTrash"
                     style="cursor: pointer;
                     color: #0d6efd;"
                     size="lg"
                     (click)="onDelete(bid)"
            >
            </fa-icon>
          </td>
        </tr>
      </table>
    </div>
    <div class="col" id="right">
      <table style="width: 100%;">
        <tr>
          <th>Day</th>
          <th>Shift</th>
        </tr>
        <ng-container *ngFor="let shift of open_shifts">
          <tr *ngIf="shift ? setVisibility(shift) : false"
              (click)="add_shift(shift)"
              [ngStyle]="{'background-color': (shiftOnBid(shift)) ? 'LightGray' : 'MediumSeaGreen'}"
              style="cursor: pointer"
          >
            <td>{{shift.day}}</td>
            <td>{{shift.shift}}</td>
          </tr>
        </ng-container>

      </table>
    </div>
  </div>
</div>
