<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h5>{{title}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Your Bid - Open Time Rank: {{openTimeRank}} of {{totalInGroup}}</h6>
    </div>
    <div class="col">
      <h6>Available Shifts</h6>
    </div>
  </div>
  <div class="row">
    <div class="btn-col" style="width: 50%">
      <button
        class="btn btn-primary"
        type="button"
        (click)="onSave()"
        style="margin-bottom: 5px; height: 100px;"
        *ngIf="response=='unsaved'"
      >
        You Have Unsaved Changes<br>
        Click Here To Save
      </button>
      <button
        class="btn btn-success"
        type="button"
        (click)="onSave()"
        style="margin-bottom: 5px; height: 100px;"
        *ngIf="response=='success'"
      >
        Your bid was saved
      </button>
      <button
        class="btn btn-secondary"
        type="button"
        style="margin-bottom: 5px; height: 100px;"
        *ngIf="response=='none'"
        (click)="test()"
      >
        This is your current bid
      </button>
      <button
        class="btn btn-danger"
        type="button"
        (click)="onRevert()"
        style="margin-bottom: 5px; height: 100px;"
        *ngIf="response=='unsaved'"
      >
        Revert bid to last save
      </button>
    </div>
    <div class="col" style="width: 50%">
      <table class="table table-sm table-bordered">
        <tr>
          <td [ngStyle]="{'background-color': (!showAM && !showPM && !showMID) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showAM" (change)="shiftsToShow()">
              AM
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showAM && !showPM && !showMID) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showPM" (change)="shiftsToShow()">
              PM
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showAM && !showPM && !showMID) ? '#FFCCCB' : 'transparent'}"
              *ngIf="!(userGroup == 'ssom')">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showMID" (change)="shiftsToShow()">
              MID
            </label>
          </td>
          <td rowspan="4" style="border-right: None">
            Day
          </td>
          <td rowspan="4" style="border-left: None">
            <select style="margin-left: 5px" multiple [(ngModel)]="selectedDays" (change)="shiftsToShow()">
              <option value="All">All</option>
              <option *ngFor="let day of openDays" [value]="day">{{day}}</option>
            </select>
          </td>
          <td rowspan="4" style="border-right: None">
            Desk
          </td>
          <td rowspan="4" style="border-left: None">
            <select style="margin-left: 5px" multiple [(ngModel)]="selectedDesks" (change)="shiftsToShow()">
              <option value="All">All</option>
              <option *ngFor="let desk of openDesks" [value]="desk">{{desk}}</option>
            </select>
          </td>
        </tr>
        <tr *ngIf="userGroup == 'fs'">
          <td [ngStyle]="{'background-color': (!showDOM && !showINTL) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showDOM" (change)="shiftsToShow()">
              DOM
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showDOM && !showINTL) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showINTL" (change)="shiftsToShow()">
              INTL
            </label>
          </td>
        </tr>
        <tr *ngIf="userGroup == 'som'">
          <td [ngStyle]="{'background-color': (!showFleet && !showSPT) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showFleet" (change)="shiftsToShow()">
              Fleet
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showFleet && !showSPT) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showSPT" (change)="shiftsToShow()">
              SPT
            </label>
          </td>
        </tr>
        <tr *ngIf="userGroup == 'fs'">
          <td [ngStyle]="{'background-color': (!showNine && !showTen) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showNine" (change)="shiftsToShow()">
              Nine Hr
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showNine && !showTen) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showTen" (change)="shiftsToShow()">
              Ten Hr
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline" style="margin-left: 10px">
              <input type="checkbox" [(ngModel)]="showOnBid" (change)="shiftsToShow()">
              On Bid
            </label>
          </td>
        </tr>
      </table>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <input type="checkbox" [(ngModel)]="limitAwards" (click)="setUnsaved()">-->
<!--      <label class="checkbox-inline" style="margin-left: 10px" *ngIf="!limitAwards">-->
<!--        Limit My Awards-->
<!--      </label>-->
<!--      <span *ngIf="limitAwards" style="margin-left: 10px">-->
<!--        Award up to-->
<!--        <select [(ngModel)]="maxAward" (change)="setUnsaved()">-->
<!--          <option *ngFor="let number of numbers" value="{{number}}">{{number}}</option>-->
<!--        </select>-->
<!--        shift(s) per-->
<!--        <select [(ngModel)]="awardPeriod" (change)="setUnsaved()">-->
<!--          <option value="m">month.</option>-->
<!--          <option value="pp">pay period.</option>-->
<!--        </select>-->
<!--      </span>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row">
    <div class="col" id="left">
      <table style="width:100%" class="table table-sm table-bordered table-striped">
        <thead>
        <tr style="position: sticky; top: 0; background-color: white">
          <th style="width:10%">Choice</th>
          <th style="width:10%">Day</th>
          <th>Shift (Drag to reorder)</th>
          <th *ngIf="userGroup == 'fs'" style="width:20%">Start Time</th>
          <th style="width:10%">Up</th>
          <th style="width:10%">Dn</th>
          <th style="width:10%">Del</th>
        </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
        <tr cdkDrag cdkDragLockAxis="y" *ngFor="let bid of bids; index as i" style="cursor: pointer">
          <td>{{i + 1}}</td>
          <td>{{bid.day}}</td>
          <td cdkDragHandle>{{bid.shift}}</td>
          <td *ngIf="userGroup == 'fs'">{{shift_times[bid.shift]}}</td>
          <td>
            <fa-icon [icon]="faArrowCircleUp"
                     style="cursor: pointer;
                     color: #0d6efd;"
                     size="lg"
                     (click)="onMoveUp(bid)"
                     *ngIf="i != 0"
            >
            </fa-icon>
          </td>
          <td>
            <fa-icon [icon]="faArrowCircleDown"
                     style="cursor: pointer;
                     color: #0d6efd;"
                     size="lg"
                     (click)="onMoveDown(bid)"
                     *ngIf="i != numberOfBids - 1"
            >
            </fa-icon>
          </td>
          <td>
            <fa-icon [icon]="faTrash"
                     style="cursor: pointer;
                     color: #0d6efd;"
                     size="lg"
                     (click)="onDelete(bid)"
            >
            </fa-icon>
          </td>
          <div *cdkDragPreview class="container">
            {{bid.shift}}
          </div>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col" id="right">
      <table style="width: 100%;" class="table table-sm table-bordered">
        <thead>
        <tr style="position: sticky; top: 0; background-color: white">
          <th style="width:20%">Day</th>
          <th>Shift</th>
          <th *ngIf="userGroup == 'fs'" style="width:20%">Start Time</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let shift of show_shifts">
          <tr *ngIf="setVisibility(shift)"
              (click)="add_shift(shift)"
              [ngStyle]="{'background-color': (shiftOnBid(shift)) ? 'LightGray' : 'MediumSeaGreen'}"
              style="cursor: pointer"
          >
            <td>{{shift.day}}</td>
            <td>{{shift.shift}}</td>
            <td *ngIf="userGroup == 'fs'">{{shift_times[shift.shift]}}</td>
          </tr>
        </ng-container>
        <tr *ngIf="show_shifts.length == 0">
          <td colspan="2">No shifts based on current filters</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
