<div class="shift-grid" [class.compact]="compact">
  <div *ngIf="compact" class="month-label clickable"
       (click)="monthLabelClicked.emit({ year: monthVm.year, month: monthVm.month })">
    {{ monthVm.label }}
  </div>

  <div class="week-header">
    <div class="header-cell" *ngFor="let h of dayHeaders">{{ compact ? h.charAt(0) : h }}</div>
  </div>

  <div class="week-row" *ngFor="let week of monthVm.weeks">
    <div class="day-cell" *ngFor="let day of week"
         [class.empty]="!day"
         [class.workday]="day && isWorkday(day)"
         [class.offered]="day && isOffered(day)">
      <ng-container *ngIf="day">
        <!-- Normal mode -->
        <ng-container *ngIf="!compact">
          <div class="day-header">
            <span class="day-number">{{ day.dayNumber }}</span>
          </div>
          <span class="workday-shift" *ngIf="getWorkdayShift(day) as ws">{{ ws }}</span>
          <div class="shifts-scroll-area" *ngIf="!isDayHidden(day)">
            <div class="scroll-fade-top"></div>
            <div class="shifts-container" (scroll)="onShiftsScroll($event)">
              <ng-container *ngFor="let s of day.shifts">
                <button
                  *ngIf="!isSelected(s) && isShiftVisible(s)"
                  type="button"
                  class="shift-tag"
                  [class.disabled]="isOffered(day)"
                  [ngClass]="s.cssClass"
                  [disabled]="isOffered(day)"
                  (click)="onShiftClick(s)"
                  [title]="isOffered(day) ? 'You have offered this day for PTD' : getShiftTooltip(s)">
                  {{ s.shift }}
                </button>
              </ng-container>
            </div>
            <div class="scroll-fade-bottom"></div>
          </div>
        </ng-container>
        <!-- Compact mode: workday marker + shift count badge -->
        <ng-container *ngIf="compact">
          <span class="compact-day">{{ day.dayNumber }}</span>
          <span class="compact-workday" *ngIf="getWorkdayShift(day) as ws" [title]="ws">{{ ws }}</span>
          <span class="compact-badge" *ngIf="day.shifts.length > 0">{{ day.shifts.length }}</span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
