<div class="container">
  <div class="row" *ngIf="loading">
    <div class="col-xs-12">
      Please wait... loading lines and workdays... <br>
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-xs-2" style="width: 30%">
      <button
        *ngIf="response == 'unsaved'"
        class="btn btn-primary"
        (click)="saveSelected()"
      >Save</button>
    </div>
    <div class="col-xs-10" style="width: 70%">
      <span>
        <fa-icon [icon]="faArrowCircleLeft"
                 style="cursor: pointer;
                         color: #0d6efd;"
                 size="lg"
                 (click)="setMonth(-1)"
        ></fa-icon>
        <span style="display: inline-block; width: 75px; text-align: center" (click)="clickTest()">{{date | date: 'MMM YY'}}</span>
        <fa-icon [icon]="faArrowCircleRight"
                 style="cursor: pointer;
                         color: #0d6efd;"
                 size="lg"
                 (click)="setMonth(1)"
        ></fa-icon>
        <button class="btn btn-primary" style="margin-left: 20px" (click)="toLineBid()">My Bid</button>
      </span>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-xs-2" style="width: 30%">
      <table class="table table-sm table-bordered">
        <tr>
          <td [ngStyle]="{'background-color': (!showAM && !showPM && !showMID && !showRLF) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showAM" (change)="setHeader(date); setUnsaved()">
              AM
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showAM && !showPM && !showMID && !showRLF) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showPM" (change)="setHeader(date); setUnsaved()">
              PM
            </label>
          </td>
        <tr>
          <td [ngStyle]="{'background-color': (!showAM && !showPM && !showMID && !showRLF) ? '#FFCCCB' : 'transparent'}"
              *ngIf="!(userGroup == 'ssom')">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showMID" (change)="setHeader(date); setUnsaved()">
              MID
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showAM && !showPM && !showMID && !showRLF) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showRLF" (change)="setHeader(date); setUnsaved()">
              RLF
            </label>
          </td>
        </tr>
        <tr *ngIf="userGroup == 'fs'">
          <td [ngStyle]="{'background-color': (!showDOM && !showINTL) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showDOM" (change)="setHeader(date); setUnsaved()">
              DOM
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showDOM && !showINTL) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showINTL" (change)="setHeader(date); setUnsaved()">
              INTL
            </label>
          </td>
        </tr>
        <tr *ngIf="userGroup == 'som'">
          <td [ngStyle]="{'background-color': (!showFleet && !showSPT) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showFleet" (change)="setHeader(date); setUnsaved()">
              Fleet
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showFleet && !showSPT) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showSPT" (change)="setHeader(date); setUnsaved()">
              SPT
            </label>
          </td>
        </tr>
        <tr *ngIf="userGroup == 'fs'">
          <td [ngStyle]="{'background-color': (!showNine && !showTen) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showNine" (change)="setHeader(date); setUnsaved()">
              Nine Hr
            </label>
          </td>
          <td [ngStyle]="{'background-color': (!showNine && !showTen) ? '#FFCCCB' : 'transparent'}">
            <label class="checkbox-inline" style="margin-left: 10px; margin-right: 10px">
              <input type="checkbox" [(ngModel)]="showTen" (change)="setHeader(date); setUnsaved()">
              Ten Hr
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h4off" (change)="setHeader(date); setUnsaved()">
              H4 Off
            </label>
          </td>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h5off" (change)="setHeader(date); setUnsaved()">
              H5 Off
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h6off" (change)="setHeader(date); setUnsaved()">
              H6 Off
            </label>
          </td>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h7off" (change)="setHeader(date); setUnsaved()">
              H7 Off
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h8off" (change)="setHeader(date); setUnsaved()">
              H8 Off
            </label>
          </td>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h9off" (change)="setHeader(date); setUnsaved()">
              H9 Off
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h10off" (change)="setHeader(date); setUnsaved()">
              H10 Off
            </label>
          </td>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h1off" (change)="setHeader(date); setUnsaved()">
              H1 Off
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h2off" (change)="setHeader(date); setUnsaved()">
              H2 Off
            </label>
          </td>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="h3off" (change)="setHeader(date); setUnsaved()">
              H3 Off
            </label>
          </td>
        </tr>
        <tr>
          <td (click)="dateClickTest()">My Date: </td>
          <td rowspan="2">
            <fa-icon [icon]="faPlusCircle"
                     style="cursor: pointer;
                     margin-right: 10px;
                     color: #0d6efd;"
                     size="lg"
                     (click)="addUserDate(); setUnsaved()"
            >
            </fa-icon>
          </td>
        </tr>
        <tr><input type="date" [(ngModel)]="userDate"></tr>
        <tr *ngFor="let date of userDates">
          {{date}}
          <fa-icon [icon]="faTrash"
                   style="cursor: pointer;
                     margin-right: 10px;
                     color: #0d6efd;"
                   size="lg"
                   (click)="removeUserDate(date); setUnsaved()"
          >
          </fa-icon>
        </tr>
        <tr>
          <td rowspan="3" style="border-right: None">
            Rotations
          </td>
          <td rowspan="3" style="border-left: None">
            <select style="margin-left: 5px" multiple [(ngModel)]="selectedRotations" (change)="setHeader(date); setUnsaved()">
              <option value="All">All</option>
              <option *ngFor="let rotation of rotations" [value]="rotation">{{rotation}}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div id="monthView" class="col-xs-10" style="width: 70%">
      <table class="table table-sm table-bordered table-striped line_table">
        <thead>
          <tr>
            <th (click)="selectVisible(); setUnsaved()" style="cursor: pointer;">
              All
            </th>
            <th *ngFor="let day of header1"
                [ngClass]="{
              'holiday': day.holiday,
              'userDay': day.userDay
              }"
            >{{day.header_name}}</th>
          </tr>
          <tr>
            <th (click)="unselectVisible(); setUnsaved()" style="cursor: pointer;">
              None
            </th>
            <th *ngFor="let day of header2"
                [ngClass]="{
              'holiday': day.holiday,
              'userDay': day.userDay
              }"
            >{{day.header_name}}</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let line of lines" [hidden]="!setVisibility(line)">
          <td><input type="checkbox" [(ngModel)]="line.selected" (change)="setUnsaved()"></td>
          <td>{{line.desk}}</td>
          <td>{{line.start_time}}</td>
          <td>{{line.length}}</td>
          <td>{{line.rotation}}</td>
          <td>{{line.time_of_day.toUpperCase()}}</td>
          <td>{{line.theater.toUpperCase()}}</td>
          <td (click)="lineClickTest(line)">{{line.line_number}}</td>
          <td *ngFor="let day of line.workdays"
              [ngClass]="{
              'holiday': day.holiday,
              'userDay': day.userDay
              }"
          >{{day.shift_id}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
