<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #adminChangePwForm="ngForm" (ngSubmit)="onSubmit(adminChangePwForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          #usernameField="ngModel"
          type="text"
          id="username"
          class="form-control"
          [(ngModel)] = "username"
          name="username"
          required>
      </div>
      <div class="form-group">
        <label for="usernameConfirm">Confirm Username</label>
        <input
          #usernameConfirmField="ngModel"
          type="text"
          id="usernameConfirm"
          class="form-control"
          [(ngModel)] = "usernameConfirm"
          name="usernameConfirm"
          required>
      </div>
      <div [hidden]="usernamesMatch() || usernameField.pristine || usernameConfirmField.pristine"
           class="alert alert-danger">
        Usernames must match
      </div>
      <hr>
      <div class="form-group">
        <label for="newPW">New Password</label>
        <input
          #newPWField="ngModel"
          type="password"
          id="newPW"
          class="form-control"
          [(ngModel)] = "password"
          name="newPW"
          required>
      </div>
      <div class="form-group">
        <label for="confirmPW">Confirm New Password</label>
        <input
          #confirmPWField="ngModel"
          type="password"
          id="confirmPW"
          class="form-control"
          [(ngModel)] = "passwordConfirm"
          name="confirmPW"
          required>
      </div>
      <div [hidden]="passwordsMatch() || newPWField.pristine || confirmPWField.pristine"
           class="alert alert-danger">
        Passwords must match
      </div>
      <hr>
      <div class="alert alert-success" *ngIf="status == 'success'">{{message}}</div>
      <div class="alert alert-danger"
           *ngIf="status == 'failed' &&
           usernameField.untouched &&
           usernameConfirmField.untouched &&
           newPWField.untouched &&
           confirmPWField.untouched">{{message}}</div>
      <div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!passwordsMatch() || !usernamesMatch() || newPWField.pristine">
          Change Password</button>
      </div>
    </form>
  </div>
</div>

